load mario.png mario

gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur
gaussian-blur mario mario-blur

save mario-blur.png mario-blur

quit