load mario.png mario
load ladybug.bmp ladybug
load van.jpeg vanjpeg
load van.jpg vanjpg
load dog.ppm dog

gaussian-blur mario mario-blur
gaussian-blur ladybug ladybug-blur
gaussian-blur vanjpeg vanjpeg-blur
gaussian-blur vanjpg vanjpg-blur
gaussian-blur dog dog-blur

save mario-blur.png mario-blur
save ladybug-blur.bmp ladybug-blur
save van-blur.jpeg vanjpeg-blur
save van-blur.jpg vanjpg-blur
save dog-blur.ppm dog-blur

sharpen mario mario-sharpen
sharpen ladybug ladybug-sharpen
sharpen vanjpeg vanjpeg-sharpen
sharpen vanjpg vanjpg-sharpen
sharpen dog dog-sharpen

save mario-sharpen.png mario-sharpen
save ladybug-sharpen.bmp ladybug-sharpen
save van-sharpen.jpeg vanjpeg-sharpen
save van-sharpen.jpg vanjpg-sharpen
save dog-sharpen.ppm dog-sharpen

greyscale mario mario-greyscale
greyscale ladybug ladybug-greyscale
greyscale vanjpeg vanjpeg-greyscale
greyscale vanjpg vanjpg-greyscale
greyscale dog dog-greyscale

save mario-greyscale.png mario-greyscale
save ladybug-greyscale.bmp ladybug-greyscale
save van-greyscale.jpeg vanjpeg-greyscale
save van-greyscale.jpg vanjpg-greyscale
save dog-greyscale.ppm dog-greyscale

sepia mario mario-sepia
sepia ladybug ladybug-sepia
sepia vanjpeg vanjpeg-sepia
sepia vanjpg vanjpg-sepia
sepia dog dog-sepia

save mario-sepia.png mario-sepia
save ladybug-sepia.bmp ladybug-sepia
save van-sepia.jpeg vanjpeg-sepia
save van-sepia.jpg vanjpg-sepia
save dog-sepia.ppm dog-sepia

quit